{% extends "EeemarvBundle::base.html.twig" %}

{% block inline_login %}{% endblock %}

{% block inner_content -%}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">

<legend>{{ 'login'|trans }}</legend>

<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	 
<div class="controls controls-row">
<div class="col-md-12"><input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/></div>
</div>
		
<div class="controls controls-row">
<div class="col-md-12"><input type="password" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" /></div>								
</div>

  	
<div class="controls controls-row">
<div class="col-md-12"><label class="checkbox"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label></div>
</div> 

<div class="controls controls-row">
<div class="col-md-12"><input type="submit" class="btn btn-default" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" /></div>
</div>   

</form>
<p><a href="{{ path('fos_user_resetting_request') }}">{{ 'forgot_password'|trans }}</a></p>
{%- endblock %}
