{% extends 'EeemarvBundle::base.html.twig' %}



{% block page_header_inner %}{{ 'categories' }}{% endblock %}
    
{% block inner_content %}

<table class="table table-striped table-condensed">
<thead><tr><th class="span6"></th><th class="span6"></th></tr></thead>
<tbody>	

{% set prev_level = 0 %}
{% set prev_left = 0 %}
{% set rights = {} %}
	
{% for category in categories %}

{% set rights = rights|merge([(category.right)]) %} 


<tr>
<form action="{{ path('eeemarv_eeemarv_category_button', { 'id': category.id }) }}" method="POST">
<td>
{% if category.level %}<div class="span{{ category.level }}"></div>
<a href="{{ path('eeemarv_eeemarv_category_edit', { 'id': category.id }) }}" class="">{% endif %}
{{ category.name|e }}{% if category.level %}</a>{% endif %}</td>
{% if category.messageCount %}&nbsp;({{ category.messageCount }}){% endif %}
<td>
<div class="span12">
	<div class="span1"><button class="btn btn-success btn-mini" name="add" value="add" title="{{ 'categories.add_child'|trans }}"><i class="fa fa-plus"></i></button></div>
	<div class="span1">{% if category.right > category.left + 1 %}<button class="btn btn-warning btn-mini" name="sort" value="sort" title="{{ 'categories.sort_children'|trans }}"><i class="fa fa-sort-alpha-asc"></i></button>{% endif %}</div>			
	<div class="span1">{% if category.level and category.right + 1 not in rights %}<button class="btn btn-primary btn-mini" name="down" value="down"><i class="fa fa-chevron-down"></i></button>{% endif %}</div>
	<div class="span1">{% if prev_left + 1 != category.left %}<button class="btn btn-primary btn-mini" name="up" value="up"><i class="fa fa-chevron-up"></i></button>{% endif %}</div>
	<div class="span1">{% if category.level > 1 %}<button class="btn btn-inverse btn-mini" name="left" value="left"><i class="fa fa-chevron-left"></i></button>{% endif %}</div>
	<div class="span1">{% if category.level and (prev_level >= category.level) %}<button class="btn btn-inverse btn-mini" name="right" value="right"><i class="fa fa-chevron-right"></i></button>{% endif %}</div>	
	<div class="span1">{% if category.level and not category.messageCount and category.left + 1 == category.right %}<button class="btn btn-danger btn-mini" name="delete" value="delete"><i class="fa fa-times"></i></button>{% endif %}</div>
</div></td>

</form> 
</tr>

{% set prev_level = category.level %}
{% set prev_left = category.left %}
   
{% endfor %}

</tbody>
</table>

{% endblock %}
