{% extends 'EeemarvBundle::base.html.twig' %}
{% form_theme form 'EeemarvBundle:Form:fields.html.twig' %}


{% block page_header_inner %}{{ 'category_new'|trans }}{% endblock %}

{% block inner_content -%}

    <form action="{{ path('eeemarv_eeemarv_category_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-success">{{ 'button.create'|trans }}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eeemarv_eeemarv_category_index') }}">
            {{ 'back_to_list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
