{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}
{{ 'category'|trans }} {{ entity.name|e }}
{% endblock %}

{% block inner_content %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Left</th>
                <td>{{ entity.left }}</td>
            </tr>
            <tr>
                <th>Right</th>
                <td>{{ entity.right }}</td>
            </tr>
            <tr>
                <th>Root</th>
                <td>{{ entity.root }}</td>
            </tr>
            <tr>
                <th>Level</th>
                <td>{{ entity.level }}</td>
            </tr>
            <tr>
                <th>Messagecount</th>
                <td>{{ entity.messageCount }}</td>
            </tr>
            <tr>
                <th>Offercount</th>
                <td>{{ entity.offerCount }}</td>
            </tr>
            <tr>
                <th>Wantcount</th>
                <td>{{ entity.wantCount }}</td>
            </tr>

            <tr>
                <th>{{ 'created_at'|trans }}</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
       {#     <tr>
                <th>{{ 'created_by'|trans }}</th>
                <td><a href="{{ path('eeemarv_eeemarv_user_show', { 'id': entity.createdBy.id }) }}">{{ entity.createdBy.username|e }}</a></td>
            </tr>          #}   
            <tr>
                <th>{{ 'updated_at'|trans }}</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
       {#     <tr>
                <th>{{ 'updated_by'|trans }}</th>
                <td><a href="{{ path('eeemarv_eeemarv_user_show', { 'id': entity.updatedBy.id }) }}">{{ entity.updatedBy.username|e }}</a></td>
            </tr>       #}     
            
            
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eeemarv_eeemarv_category_index') }}">
            Back to the list
        </a>
    </li>
    {% if entity.level %}
    <li>
        <a href="{{ path('eeemarv_eeemarv_category_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    {% endif %}
    
 {#   <li>
        <form action="{{ path('eeemarv_eeemarv_category_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li> #}
</ul>
{% endblock %}
