{% extends 'EeemarvBundle::base.html.twig' %}

{% block inline_login %}{% endblock %}

{% block inner_content %}

<legend>{{ 'contact'|trans }}</legend>

{# load explain <p>{{ 'contact_explain'|trans }}</p> #}

<form action="{{ path('eeemarv_eeemarv_default_contact') }}" method="post">

{{ form_errors(form) }}

{{ form_row(form.email) }}
{{ form_row(form.subject) }}
{{ form_row(form.message) }}
{{ form_row(form.recaptcha) }}

{{ form_widget(form.send, {'attr':{'class':'btn btn-primary'}}) }}

{{ form_rest(form) }}

</form>


{% endblock inner_content %}
