{% extends 'EeemarvBundle::base.html.twig' %}
{% form_theme form 'EeemarvBundle:Form:fields.html.twig' %}

{% block page_header_inner %}
<h4>{{ 'edit'|trans }}: {{ place.postalCode }} {{ place.name }}</h4>
{% endblock %}

{% block inner_content %}


<form action="{{ path('eeemarv_eeemarv_place_update', { 'id': place.id }) }}" method="post" {{ form_enctype(form) }}>
<input type="hidden" name="_method" value="PUT"/>
    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">{{ 'edit'|trans }}</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('eeemarv_eeemarv_place_index') }}">
            {{ 'back_to_list'|trans }}
        </a>
    </li>
{#    <li>
        <form action="{{ path('eeemarv_eeemarv_place_delete', { 'id': place.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li> #}
</ul>
{% endblock %}
