{% extends 'EeemarvBundle::base.html.twig' %}

{% block inner_content %}

<legend>{{ 'places'|trans }}</legend>

<table class="table table-striped table-bordered table-condensed table-hover">
    <tbody>
        <thead>
            <tr>
			
                    <th class="span2">{{ 'postal_code'|trans }}</th> 				
					<th class="span4">{{ 'place_name'|trans }}</th>
					<th class="span2">{{ 'translations'|trans }}</th>
					<th class="span2">{{ 'primary'|trans }}</th>
					<th class="span2">{{ 'country'|trans }}</th>
					

            </tr>
        </thead>    
    
    
    
    
    {% for entity in entities %}
        <tr>
        <td class="span2"><a href="{{ path('eeemarv_eeemarv_place_edit', { 'id': entity.id }) }}">{{ entity.postalCode }}</a></td>
            
        <td>{{ entity.defaultTranslation.getName() }}</td>
        <td>{{ entity.country }}</td>
               
		</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
     {#   <a href="{{ path('eeemarv_eeemarv_place_new') }}">#}
            Create a new entry
     {#    </a> #}
    </li>
</ul>

{% endblock inner_content %}
