{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}{{ 'places'|trans }}{% endblock %}
{% block buttons %}
        <a href="{{ path('eeemarv_eeemarv_place_new') }}" class="btn btn-success">{{ 'new'|trans }}</a>
{% endblock %}        
        
{% block inner_content %}



<table class="table table-striped table-bordered table-condensed table-hover">
    <tbody>
        <thead>
            <tr>
                    <th class="span2">{{ 'postal_code'|trans }}</th> 				
					<th class="span8">{{ 'place_name'|trans }}</th>
					<th class="span2">{{ 'country'|trans }}</th>
					

            </tr>
        </thead>    
    
    
    
    
    {% for entity in entities %}
        <tr>
        <td class="span2"><a href="{{ path('eeemarv_eeemarv_place_edit', { 'id': entity.id }) }}">{{ entity.postalCode }}</a></td>
            
        <td>{{ entity.name }}</td>
        <td>{{ entity.country }}</td>
               
		</td>
        </tr>
    {% endfor %}
    </tbody>
</table>




{% endblock inner_content %}
