{% extends "EeemarvBundle::base.html.twig" %}

{% block page_header_inner %}{{ 'change_password'|trans({}, 'FOSUserBundle') }}{% endblock %}

{% block inner_content %}


<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary" />
    </div>
</form>

{% endblock %}
