{% extends "EeemarvBundle::base.html.twig" %}

{% block inline_login %}{% endblock %}

{% block inner_content %}

<legend>{{ 'registration'|trans }}</legend>

{# load explain <p>{{ 'registration_explain'|trans }}</p> #}

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">

{{ form_errors(form) }}

{{ form_widget(form.username) }} {# unique random hidden, is changed after submitting form #}
{{ form_widget(form.plainPassword) }} {# hidden and random #}

<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.email) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-6">{{ form_row(form.firstName) }}</div>
<div class="col-md-6">{{ form_row(form.lastName) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.birthday) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.gender) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-6">{{ form_row(form.street) }}</div>
<div class="col-md-3">{{ form_row(form.houseNumber) }}</div>
<div class="col-md-3">{{ form_row(form.box ) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.place) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-6">{{ form_row(form.phone) }}</div>
<div class="col-md-6">{{ form_row(form.mobile) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.website) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.recaptcha) }}</div>
</div>

{{ form_widget(form.send, {'attr':{'class':'btn btn-primary'}}) }}

{{ form_rest(form) }}

</form>


{% endblock inner_content %}


