{% extends 'EeemarvBundle::base.html.twig' %}
{% form_theme form 'EeemarvBundle:Form:fields.html.twig' %}


{% block page_header_inner %}{{ 'user_edit'|trans }}{% endblock %}

{% block inner_content %}

    <form action="{{ path('eeemarv_eeemarv_user_update', { 'code': user.code }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn btn-primary">{{ 'edit'|trans }}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eeemarv_eeemarv_user_index') }}">
            {{ 'back_to_list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
