{% extends 'EeemarvBundle::base.html.twig' %}


{% block page_header_inner %}{{ 'users'|trans }}{% endblock %}
{% block buttons %}
	<a href="{{ path('eeemarv_eeemarv_user_new') }}" class="btn btn-success">{{ 'new'|trans }}</a>
{% endblock %} 





{% block inner_content %}
{# {{ knp_pagination_render(pagination, null, {}, {'alignment': 'right'}) }} #}
{% set new_user_time = 'now'|date('U') - (86400 * new_user_days) %}

    <table class="table table-striped table-condensed">
        <thead>
            <tr><th>
				<div class="row">				
                    <div class="col-md-2">{{ 'code'|trans }}</div> 				
					<div class="col-md-4">{{ 'username'|trans }}</div>
					<div class="col-md-2">{{ 'balance'|trans }}</div>
					<div class="col-md-2">{{ 'distance'|trans }}</div>
					<div class="col-md-2">{{ 'messages'|trans }}</div>
					
				</div> 
            </th></tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr{% if not user.isActive %} class="inactive"{% elseif user.isSystemAccount %} class="info"{% elseif user.externalPassword %} class="warning"{% elseif user.isLeaving %} class="error"{% elseif (user.activatedAt|date('U') > new_user_time) and user.isActive %} class="success"{% endif %}>
            <td>
 				<div class="row">				
                    <div class="col-md-2"><a href="{{ path('eeemarv_eeemarv_user_show', { 'code': user.code }) }}">{{ user.code|e }}</a></div> 				
					<div class="col-md-4"><a href="{{ path('eeemarv_eeemarv_user_show', { 'code': user.code }) }}">{{ user.username|e }}</a></div>
					<div class="col-md-2"><a href="{{ path('eeemarv_eeemarv_transaction_user', { 'code': user.code }) }}">{{ user.balance // currency_rate }}</a></div>
					<div class="col-md-2">{{ user.distance|distance }}</div>
					<div class="col-md-2">{% if user.messageCount %}<a href="{{ path('eeemarv_eeemarv_message_user', { 'code': user.code }) }}">{{ user.messageCount }}</a>{% else %}0{% endif %}</div>
				</div>              
            </td></tr>
        {% endfor %}
        </tbody>
    </table>
{# {{ knp_pagination_render(pagination, null, {}, {'alignment': 'right'}) }}    #}
    
    {% endblock %}



{#
{% extends 'EeemarvBundle::base.html.twig' %}

{% block inner_content %}
    <h4>{{ 'users'|trans }}</h4>

    <table class="records_list">
        <thead>
            <tr>
                <th>Image</th>
                            
                <th>Code<br/>
                Username</th>
                
                <th>Phone<br/>                              
                Mobile<br/>                
                Email<br/>
                Website</th>                

                <th>Role</th>

                <th>Firstname<br/>
                Lastname<br/>
				Birthday<br/>
                Gender</th>
                

                <th>Street
                Nr
                Bus<br/>
                PostalCode
                PlaceName</th>



                <th>Balance<br/>
                /Limit</th>               
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Activatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr class="{{ cycle( ['even', 'odd'], loop.index ) }}">
                <td>{#<img src="{% if entity.getWebImagePath() %}{{ (entity.getWebImagePath()) | imagine_filter('thumb60x60') }}{% endif %}" width="60" heigth="60"/> </td>           
                <td><a href="{{ path('eeemarv_eeemarv_user_show', { 'code': entity.code }) }}">{{ entity.code }}<br/>
                {{ entity.username }}</a><br/>
                {% if entity.activated %}A {% endif %}
                {% if entity.isSystemAccount %}S {% endif %}
               {# {% if entity.quitting %}Q {% endif %} 
                {{ entity.locale }}                
                </td>

                <td>{{ entity.phone }} {# {{ entity.showPhone }} <br/>
                {{ entity.mobile }}  {# {{ entity.showMobile }} <br/>                                
                {{ entity.email }}<br/>
                {{ entity.website }}</td>                
                                
                <td>{% if entity.hasRole('ROLE_SUPER_ADMIN') %}super admin
					{% elseif entity.hasRole('ROLE_ADMIN') %}admin
					{% elseif entity.hasRole('ROLE_MODERATOR') %}moderator
					{% elseif entity.hasRole('ROLE_USER') %}user{% endif %}</td>
 
                <td>{{ entity.firstName }}<br/>
                {{ entity.lastName }}<br/>
                {{ entity.birthday|date('Y-m-d') }}<br/>                
                {{ entity.gender }}</td>

                <td>{{ entity.street }}
                {{ entity.houseNumber }} 
                {{ entity.box }}<br/>
                {{ entity.place.postalCode }}
                {{ entity.place.name }} {# {{ entity.showAddress }} </td>


                

                

                <td>{{ entity.balance // currency_rate }}<br/>
                /{{ entity.balanceLimit // currency_rate }}</td>

                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.activatedAt %}{{ entity.activatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('eeemarv_eeemarv_user_show', { 'code': entity.code }) }}">show</a>
                    </li>
                {#    <li>
                        <a href="{{ path('eeemarv_eeemarv_user_edit', { 'code': entity.code }) }}">edit</a>
                    </li> 
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
 {#       <li>
            <a href="{{ path('eeemarv_eeemarv_user_new') }}">
                Create a new entry
            </a>
        </li> 
    </ul>
    {% endblock inner_content %}
    
#}
