{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}{{ user.code }} {{ user.username }}{% endblock %}

{% block buttons %}
{% if delete_form %}
<form action="{{ path('eeemarv_eeemarv_user_delete', { 'code': user.code }) }}" method="post">
	<input type="hidden" name="_method" value="DELETE" />
	{{ form_widget(delete_form) }}
{% endif %}
	<a href="{{ path('eeemarv_eeemarv_user_edit', { 'code': user.code }) }}" class="btn btn-info">{{ 'edit'|trans }}</a>
{% if delete_form %}
	<button type="submit" class="btn btn-danger">Delete</button>
</form>
{% endif %}
{% endblock %}

{% block inner_content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'balance'|trans }}</th>
                <td><a href="{{ path('eeemarv_eeemarv_transaction_user', { 'code': user.code }) }}">{{ user.balance // currency_rate }}</a></td>
            </tr>
            <tr>
                <th>Balancelimit</th>
                <td>{{ user.balanceLimit // currency_rate }}</td>
            </tr>                     
            <tr>
                <th>{{ 'email'|trans }}</th>
                <td>{{ user.email }}</td>
            </tr>

     {#       <tr>
                <th>{{ 'roles'|trans }}</th>
                <td>{{ user.roles }}</td>
            </tr>

            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}

            <tr>
                <th>{{ 'first_name'|trans }}</th>
                <td>{{ user.firstName }}</td>
            </tr>

            <tr>
                <th>{{ 'last_name'|trans }}</th>
                <td>{{ user.lastName }}</td>
            </tr>

            <tr>
                <th>{{ 'gender'|trans }}</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>{{ 'birthday'|trans }}</th>
                <td>{{ user.birthday|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{ 'street'|trans }}</th>
                <td>{{ user.street }}</td>
            </tr>
            <tr>
                <th>{{ 'housenumber'|trans }}</th>
                <td>{{ user.houseNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'box'|trans }}</th>
                <td>{{ user.box }}</td>
            </tr>
  {#          <tr>
                <th>{{ 'latitude'|trans }}</th>
                <td>{{ user.latitude }}</td>
            </tr>
            <tr>
                <th>{{ 'longitude'|trans }}</th>
                <td>{{ user.longitude }}</td>
            </tr> #}
            <tr>
                <th>{{ 'phone'|trans }}</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>{{ 'mobile'|trans }}</th>
                <td>{{ user.mobile }}</td>
            </tr>
            <tr>
                <th>{{ 'website'|trans }}</th>
                <td>{{ user.website }}</td>
            </tr>
            <tr>
                <th>{{ 'is_system_account'|trans }}</th>
                <td>{{ user.isSystemAccount }}</td>
            </tr>

            <tr>
                <th>{{ 'locale'|trans }}</th>
                <td>{{ user.locale }}</td>
            </tr>
            <tr>
                <th>{{ 'created_at'|trans }}</th>
                <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'updated_at'|trans }}</th>
                <td>{{ user.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{{ 'activated_at'|trans }}</th>
                <td>{% if user.activatedAt %}{{ user.activatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('eeemarv_eeemarv_user_index') }}">
            {{ 'back_to_list'|trans }}
        </a>
    </li>
</ul>
{% if user.isActive %}
<a href="{{ path('eeemarv_eeemarv_transaction_newuser', {'code': user.code }) }}" class="btn btn-success">{{ 'button.create_transaction'|trans }}</a>
{% endif %}


{% endblock %}
