{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}{{ 'edit'|trans }}: {{ entity.subject }}{% endblock %}

{% block inner_content -%}

    <form action="{{ path('lets_transact_messages_update', { 'slug': entity.slug }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        
        <div class="row-fluid">
			{{ form_widget(edit_form.type, {'attr': {'class': 'span2' }}) }}
			{{ form_widget(edit_form.subject, {'attr': {'class': 'span10', 'placeholder': 'subject' }}) }}
        </div>
        <div class="row-fluid">
		{#	{{ form_widget(edit_form.serviceOrObject) }} #}
			{{ form_widget(edit_form.category, {'attr': {'class': 'span6' }})  }}
        </div>
        <div class="row-fluid">
			{{ form_widget(edit_form.text, {'attr': {'class': 'span12'}}) }}

        </div>
               
        <div class="row-fluid">
			<div class="input-append span12">
				{{ form_widget(edit_form.price, {'attr': {'class': 'text-right span2', 'placeholder': '0'}}) }}
				<span class="add-on">{{ 'currency_plural'|trans({}, 'site') }}</span>
			</div>
        </div>          
        
   
        {{ form_widget(edit_form) }}
        
      
        {{ form_rest(edit_form) }}
        
        <p>
            <button type="submit">{{ 'edit'|trans }}</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('lets_transact_messages') }}">
            {{ 'back_to_list'|trans }}
        </a>
    </li>
    <li>
        <form action="{{ path('eeemarv_eeemarv_message_delete', { 'slug': entity.slug }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">{{ 'delete'|trans }}</button>
        </form>
    </li>
</ul>





{% endblock %}
