{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}{{ 'message_new'|trans }}{% endblock %}

{% block inner_content -%}

    <form action="{{ path('eeemarv_eeemarv_message_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
 


<input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('gallery') }}" multiple />
 
        
        {{ form_row(form.subject) }}  
        {{ form_row(form.category) }} 
        {{ form_row(form.content) }}
        {{ form_row(form.price) }}
		        
        {{ form_widget(form.create, {'attr':{'class': 'btn btn-success'}}) }}
		{{ form_rest(form) }}
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eeemarv_eeemarv_message_index') }}">
			{{ 'back_to_list'|trans }}
        </a>
    </li>
</ul>

{% endblock %}

{% block javascripts_extra %}
<script type="text/javascript">
$(document).ready(function(){
    $('#fileupload').fileupload({});
});
</script>
{% endblock %}
