{% extends 'EeemarvBundle::base.html.twig' %}


{% block page_header_inner %}{{ 'members'|trans }}{% endblock %}

{% block inner_content %}

    <table class="table table-striped ">
        <thead>
            <tr><th>
				<div class="row-fluid">				
                    <div class="span2">{{ 'code'|trans }}</div> 				
					<div class="span4">{{ 'username'|trans }}</div>
					<div class="span2">{{ 'balance'|trans }} {# ({{ 'currency_plural'|trans({}, 'site') }}) #}</div>
					<div class="span2">{{ 'distance'|trans }}</div>
					<div class="span2">{{ 'messages'|trans }}</div>
					
				</div> 
            </th></tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr><td>
 				<div class="row-fluid">				
                    <div class="span2"><a href="{{ path('lets_transact_members_show', { 'code': member.code }) }}">{{ member.code|e }}</a></div> 				
					<div class="span4"><a href="{{ path('lets_transact_members_show', { 'code': member.code }) }}">{{ member.username|e }}</a></div>
					<div class="span2">{{ member.balance // currency_rate }}</div>
					<div class="span2">{{ member.distance|distance }}</div>
					<div class="span2">{{ member.messageCount }}</div>
				</div>              
            </td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
