{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}<i class="icon-user"></i> {{ entity.code|e }} {{ entity.username|e }}{% endblock %}

{% block inner_content -%}

	<div class="row-fluid">
		<div class="span4">{% if entity.getWebImagePath() %}<img src="{{ (entity.getWebImagePath()) | imagine_filter('thumb200x200') }}" height="200" width="200" />{% endif %}</div> 
	
	
	
			
		<div class="span4">
		
		
		
		<p><strong>{{ 'code'|trans }}<strong></p>
		<p>{{ entity.code }}</p>
		
		
		</div> 				
		<div class="span4">{{ 'username'|trans }}</div>
	</div>
	
	<div class="row-fluid">
		<div class="span4"></div> 
	
	
	
			
		<div class="span4">
		
		
		
		<p><strong>{{ 'code'|trans }}<strong></p>
		<p>{{ entity.code }}</p>
		
		
		</div> 				
		<div class="span4">{{ 'username'|trans }}</div>
	</div>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{{ 'balance'|trans }}</th>
                <td>{{ entity.balance // currency_rate }} {{ 'currency_plural'|trans({}, 'site') }}</td>
            </tr>
            <tr>
                <th>{{ 'limit'|trans }}</th>
                <td>&plusmn;{{ entity.balanceLimit // currency_rate }} {{ 'currency_plural'|trans({}, 'site') }}</td>
            </tr>                     
            <tr>
                <th>{{ 'email'|trans }}</th>
                <td>{{ entity.email|e }}</td>
            </tr>
            <tr>
                <th>{{ 'roles'|trans }}</th>
                <td>{{ entity.roles }}</td>
            </tr>
            <tr>
                <th>{{ 'first_name'|trans }}</th>
                <td>{{ entity.firstName|e }}</td>
            </tr>

            <tr>
                <th>{{ 'last_name'|trans }}</th>
                <td>{{ entity.lastName|e }}</td>
            </tr>

            <tr>
                <th>{{ 'gender'|trans }}</th>
                <td><i class="icon-{% if entity.gender == 'f' %}female{% else %}male{% endif %}"></i></td>
            </tr>
            <tr>
                <th>{{ 'birthday'|trans }}</th>
                <td>{{ entity.birthday|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>{{ 'address'|trans }}</th>
                <td>{{ entity.street|e }} {{ entity.houseNumber|e }} {{ entity.box|e }}<br/>
                {{ entity.place.postalCode }} {{ entity.place.name }}</td>
            </tr>

            <tr>
                <th>{{ 'phone'|trans }}</th>
                <td>{{ entity.phone|e }}</td>
            </tr>
            <tr>
                <th>{{ 'mobile'|trans }}</th>
                <td>{{ entity.mobile|e }}</td>
            </tr>
            <tr>
                <th>{{ 'website'|trans }}</th>
                <td>{{ entity.website|e }}</td>
            </tr>
            <tr>
                <th>{{ 'system_account'|trans }}</th>
                <td>{{ entity.systemAccount }}</td>
            </tr>
            <tr>
                <th>{{ 'quitting'|trans }}</th>
                <td>{{ entity.quitting }}</td>
            </tr>
            <tr>
                <th>{{ 'activated_at'|trans }}</th>
                <td>{% if entity.activatedAt %}{{ entity.activatedAt|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('lets_transact_members') }}">
            {{ 'back_to_list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
