<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
		{% block meta %}
        <meta charset="UTF-8" />
        {% endblock %}
        <title>{% block title %}{{ 'name'|trans({}, 'site') }}{% block title_extra %}{% endblock %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerfontawesome/css/font-awesome.min.css') }}" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/eeemarv/css/common.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
		
	{% block navbar %}
		<div class="navbar navbar-inverse navbar-fixed-top">
		  <div class="navbar-inner">
			  <div class="container"><a class="brand" href="./"><div>{{ 'name'|trans({}, 'site') }}</div></a>		  			  
			{% block navbar_left %}
				{% if is_granted('ROLE_USER') %}
					<div class="nav-collapse collapse">
						{{ knp_menu_render('eeemarv_user_menu', {'nav_type': 'navbar'}) }}
					</div>		
				{% endif %}			
			{% endblock %}
 
			{% block navbar_lang %}	
				{% if locales|length > 1 %}
				  <div class="nav-collapse collapse pull-right">
					{{ knp_menu_render('eeemarv_lang_menu', {'nav_type': 'navbar'}) }}
				  </div>
				{% endif %}
			{% endblock %}
			  
			{% block navbar_right %}
				{% if is_granted('ROLE_USER') %}
					<div class="nav-collapse collapse pull-right">
					{{ knp_menu_render('eeemarv_personal_menu', {'nav_type': 'navbar'}) }}
					</div>			
				{% else %}
					{% block inline_login %}
						{% render(controller('FOSUserBundle:Security:inlineLogin')) %}
					{% endblock %}
				{% endif %}
			{% endblock %} 
			  </div>
		  </div>
		</div>				
	{% endblock %}

	{% block jumbotron %}
	{% endblock %}
		
	{% block body %}
		<div class="container">

			<div class="row-fluid">
				<div class="span3">
					<nav class="sidebar affix" style="width: 263px; padding-top:100px;">

				
				{{ knp_menu_render('eeemarv_public_menu', {'nav_type': 'stacked_pills'}) }}
				
				
				</nav>

				</div>

		  
				{% block content %}
					<div class="span9">
						
						{% include 'EeemarvBundle::flash.html.twig' with { 'close': true } %}					

						<div class="page-header">
							<h4 class="pull-left">{% block page_header_inner %}{% endblock %}</h4>
							
							<div class="pull-right">{% block buttons %}{% endblock %}</div>
							<div class="clearfix info"></div>
						</div>   

						{% block inner_content %}
						
					
						{% endblock %}
					</div>
				{% endblock %}			  
							
			</div>
			
			{% block row_extra %}
			{% endblock %}
			
							
		</div>

	{% endblock %} 

	{% block footer %}
		<footer class="footer">
		  <div class="container">
			<p><a href="https://github.com/marttii/eeemarv"><i class="fa fa-github fa-lg"></i> eeemarv {{ getVersion() }}</a></p>
		  </div>
		</footer>
	{% endblock %}

	{% javascripts
		'//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js'
		'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js' 	

		'../vendor/twitter/bootstrap/js/bootstrap-transition.js'
		'../vendor/twitter/bootstrap/js/bootstrap-alert.js'
		'../vendor/twitter/bootstrap/js/bootstrap-button.js'
		'../vendor/twitter/bootstrap/js/bootstrap-carousel.js'
		'../vendor/twitter/bootstrap/js/bootstrap-collapse.js'
		'../vendor/twitter/bootstrap/js/bootstrap-dropdown.js'
		'../vendor/twitter/bootstrap/js/bootstrap-modal.js'
		'../vendor/twitter/bootstrap/js/bootstrap-tooltip.js'
		'../vendor/twitter/bootstrap/js/bootstrap-popover.js'
		'../vendor/twitter/bootstrap/js/bootstrap-scrollspy.js'
		'../vendor/twitter/bootstrap/js/bootstrap-tab.js'

		'../vendor/twitter/bootstrap/js/bootstrap-affix.js'

		'http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js'				
		'../vendor/twitter/typeahead.js/dist/typeahead.js'
		
		'../vendor/blueimp/jquery-file-upload/js/jquery.iframe-transport.js'
		'../vendor/blueimp/jquery-file-upload/js/jquery.fileupload.js'		

	%} <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	{% block javascripts %}
{#	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  #}
{#		<script>window.jQuery || document.write('<script src="{{ asset('js/jquery.js') }}"><\/script>')</script> #}
{#		<script src="{{ asset('js/bootstrap.js') }}"></script> #}
{#		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>  #}
	{% endblock %}	

		{% block javascripts_extra %}{% endblock %}    

    </body>
</html>
