<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	
<head>
	{% block meta %}
	<meta charset="UTF-8" />
	<meta name="keywords" content="{{ 'meta_keywords'|trans({}, 'site') }}">
	<meta name="description" content="{{ 'meta_description'|trans({}, 'site') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% endblock %}
	<title>{% block title %}{{ 'name'|trans({}, 'site') }}{% block title_extra %}{% endblock %}{% endblock %}</title>
	{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/eeemarv/css/common.css') }}" />
	{% endblock %}        
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />   
</head>
    
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{# {{ path('homepage') }} #}">{{ 'name'|trans({}, 'site') }}</a>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
		{% if is_granted('ROLE_USER') %}
			{{ knp_menu_render('eeemarv_user_menu', { 'style': 'navbar' }) }}
        {% endif %}	
        
        
        
        {% if locales|length > 1 %}
			{{ knp_menu_render('eeemarv_lang_menu', { 'style': 'navbar-right' }) }}
        {% endif %}        
		{% if is_granted('ROLE_USER') %}
			{{ knp_menu_render('eeemarv_personal_menu', {'style': 'navbar-right'}) }}			
		{% else %}
			{% block inline_login %}
				{% render(controller('FOSUserBundle:Security:inlineLogin')) %}
			{% endblock %}
			{{ knp_menu_render('eeemarv_public_menu', {'style': 'navbar-right'}) }}		
		{% endif %}
				
    </div>
	</nav>
	


	{% block jumbotron %}

	<div class="jumbotron">
	<h1>eeemarv</h1>
	<p>Web software for Lets groups</p>
	</div>
	{% endblock %}
		
	{% block body %}
		<div class="container">

			<div class="row">
				{#<div class="col-md-3">
					<nav class="sidebar" data-spy="affix" data-offset-top="250">
				{{ knp_menu_render('eeemarv_public_menu', {'style': 'stacked-pills'}) }}
				
				
				</nav>

				</div>#}

		  
				{% block content %}
					<div class="col-md-12{% block content_class%}{% endblock %}">
						{% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}

						<div class="page-header">
							<h4 class="pull-left">{% block page_header_inner %}{% endblock %}</h4>
							
							<div class="pull-right">{% block buttons %}{% endblock %}</div>
							<div class="clearfix"></div>
						</div>   

						{% block inner_content %}
						
					
						{% endblock %}
					</div>
				{% endblock %}			  
							
			</div>
			
			{% block row_extra %}
			{% endblock %}
			
							
		</div>

	{% endblock %} 

	{% block footer %}
		<footer class="footer">
		  <div class="container">
			<p><a href="https://github.com/marttii/eeemarv"><i class="fa fa-github fa-lg"></i> eeemarv {{ getVersion() }}</a></p>
		  </div>
		</footer>
	{% endblock %}


	{% javascripts
		
		'//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js' 
		'bundles/bmatznerjquery/js/jquery.js'
		
		'../vendor/twbs/bootstrap/js/affix.js'
		'../vendor/twbs/bootstrap/js/alert.js'
		'../vendor/twbs/bootstrap/js/button.js'
		'../vendor/twbs/bootstrap/js/carousel.js'
		'../vendor/twbs/bootstrap/js/collapse.js'
		'../vendor/twbs/bootstrap/js/dropdown.js'
		'../vendor/twbs/bootstrap/js/modal.js'
		'../vendor/twbs/bootstrap/js/popover.js'
		'../vendor/twbs/bootstrap/js/scrollspy.js'
		'../vendor/twbs/bootstrap/js/tab.js'
		'../vendor/twbs/bootstrap/js/tooltip.js'
		'../vendor/twbs/bootstrap/js/transition.js'	

		'http://twitter.github.com/hogan.js/builds/2.0.0/hogan-2.0.0.js'				
		'../vendor/twitter/typeahead.js/dist/typeahead.js'
		
		'../vendor/blueimp/jquery-file-upload/js/jquery.iframe-transport.js'
		'../vendor/blueimp/jquery-file-upload/js/jquery.fileupload.js'		

	%} <script src="{{ asset_url }}"></script>
	{% endjavascripts %}
	
	{% block javascripts %}{% endblock %}	
	{% block javascripts_extra %}{% endblock %}    

    </body>
</html>
