{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}{{ 'transaction_new'|trans }}{% endblock %}


{% block inner_content -%}


<form action="{{ path('eeemarv_eeemarv_transaction_create') }}" method="post" {{ form_enctype(form) }}>

{{ form_errors(form) }}
		
<input type="hidden" name="limit" value="{{ app.user.balanceLimit }}" id="limit">
<input type="hidden" name="balance" value="{{ app.user.balance }}" id="balance">
<input type="hidden" name="currency_rate" value="{{ currency_rate }}" id="currency_rate">
{% set maximum = app.user.balance - app.user.balanceLimit %}
		
<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.toCode, {'attr': {'autocomplete': 'off' }}) }}</div>
</div>
		
<div class="controls controls-row">		
<div class="col-md-12">{{ form_row(form.amount) }}</div>
</div>
	
<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.description) }}</div>
</div>

<div class="controls controls-row">
<div class="col-md-12">{{ form_row(form.create, {'attr':{'class':'btn btn-success'}}) }}</div>
</div>
 
 
    
{{ form_rest(form) }}

</form>

{% endblock %}

{% block javascripts_extra %}

<script>
$('document').ready(function(){
	$('#eeemarv_transaction_type_toCode').typeahead({
		name:'active_users_19',
		prefetch: 
			{ url:'{{ path('eeemarv_eeemarv_user_typeahead') }}',
			  filter: function(data){
					return data.map(function(user){
						return { 
							value : user.c + ' ' + user.n,
							tokens : [ user.c, user.n ],
							class : (user.e) ? 'warning' : ((user.s) ? 'info' : ((user.le) ? 'error' : ((user.a) ? 'success' : ''))),
							balance : user.b,
							limit : user.l
						};
					});
				},
			  ttl: 10000	
			},
		{% verbatim %}	
		template: '<p class="{{ class }}">{{ value }}</p>',
		{% endverbatim %}
		engine: Hogan
		});
	});
</script>

{% endblock %}
