{% extends 'EeemarvBundle::base.html.twig' %}

{% block page_header_inner %}Transaction{% endblock %}

{% block inner_content -%}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ transaction.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ transaction.amount // currency_rate }}</td>
            </tr>
            <tr>
                <th>Fromcode</th>
                <td>{{ transaction.fromCode }}</td>
            </tr>
            <tr>
                <th>Tocode</th>
                <td>{{ transaction.toCode }}</td>
            </tr>

            <tr>
                <th>Fromname</th>
                <td>{{ transaction.fromName }}</td>
            </tr>
            <tr>
                <th>Toname</th>
                <td>{{ transaction.toName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ transaction.description }}</td>
            </tr>
 {#           <tr>
                <th>Subamount</th>
                <td>{{ transaction.subAmount // currency_rate }}</td>
            </tr> #}
            <tr>
                <th>Uniqueid</th>
                <td>{{ transaction.uniqueId }}</td>
            </tr>
            <tr>
                <th>External</th>
                <td>{{ transaction.external }}</td>
            </tr>
            <tr>
                <th>Transactionat</th>
                <td>{{ transaction.transactionAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ transaction.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eeemarv_eeemarv_transaction_index') }}">
            {{ 'back_to_list'|trans }}
        </a>
    </li>
</ul>
{% endblock %}
